* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src:url('../font/Roboto-Regular.ttf');
  font-family: 'Roboto';
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto';
  background-image: url(../img/Faye.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 8vh;
  font-weight: bolder;
}
main nav {
  width: 30%;
  padding: 50px;
}
nav > ul {
  list-style-type: none;
  padding-left : 0;
}
nav > ul a {
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid black;
  border-bottom: none;
  padding: 20px;
  padding-left: 15px;
}
nav > ul li:last-child a {
  border: 1px solid black;
}
nav ul a:hover {
  background-color: black;
  color: white;
}