* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    padding: 20px;
    border : 1px solid black;
    border-radius: 30px;
    margin: 50px auto;
    width: 700px;
    height : 400px;
}
@keyframes rotation {
    0% {
    }
    100% {
        transform : rotate(720deg)
    }
}
@keyframes movingColor {
    0% {
        background-color: red;
        left: 30px;
        top: 30px;
    }
    25% {
        background-color: yellow;
        top: 30px;
        left: 630px;
    }
    50%{
        background-color: blue;
        left: 630px;
        top: 330px;
    }
    75% {
        background-color: green;
        left: 30px;
        top: 330px;
    }
    100% {
        background-color: red;
        left: 30px;
        top: 30px;
    }
}
 
#littleBox1 {
    text-align: center;
    width: 30px;
    height : 30px;
    line-height: 30px;
    animation: 5s ease-in-out infinite movingColor, 2s linear infinite rotation;
    background-color: green;
  }
#littleBox2 {
    text-align: center;
    width: 30px;
    height : 30px;
    line-height: 30px;
    animation: 5s ease-in-out 1s infinite movingColor, 2s linear infinite rotation;
    background-color: blue;
  }
#littleBox3 {
    text-align: center;
    width: 30px;
    height : 30px;
    line-height: 30px;
    animation: 5s ease-in-out 2s infinite movingColor, 2s linear infinite rotation;
    background-color: yellow;
  }
#littleBox4 {
    text-align: center;
    width: 30px;
    height : 30px;
    line-height: 30px;
    animation: 5s ease-in-out 3s infinite movingColor, 2s linear infinite rotation;
    background-color: red;
  }


 
 