
.menu {
    margin-left: 50px;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-align: center;
    width: 60px;
    height: 20px;
    line-height: 20px;
    transition: 1s;
}

.menu:hover {
    height : 360px;
}