
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.volume {
    top: 25px;
    left: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    perspective: 1000px;
    animation: 6s linear normal infinite deplacement;
}
.caroussel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: 4s linear normal infinite tournicoti;
}

#Box1 {
    background-color: aqua;
    transform: rotateY(0deg) translateZ(50px);
}
#Box2 {
    background-color: yellow;
    transform: rotateY(60deg) translateZ(50px);
}
#Box3 {
    background-color: orange;
    transform: rotateY(120deg) translateZ(50px);
}
#Box4 {
    background-color: red;
    transform: rotateY(180deg) translateZ(50px);
}
#Box5 {
    background-color: green;
    transform: rotateY(240deg) translateZ(50px);
}
#Box6 {
    background-color: blue;
    transform: rotateY(300deg) translateZ(50px);
}

@keyframes tournicoti {
    0% {
    }
    33% {
        transform : rotateY(360deg) rotateZ(120deg);
    }
    66% {
        transform : rotateY(720deg) rotateZ(240deg);
    }
    100% {
        transform : rotateY(1080deg) rotateZ(360deg);
    }
}

@keyframes deplacement {
    0% {
        top: 25px;
        left: 20px;
    }
    25% {
        top: 25px;
        left: 400px;
    }
    50% {
        top: 300px;
        left: 400px;
    }
    75% {
        top: 300px;
        left : 20px;
    }
    100% {
        top: 25px;
        left: 20px;
    }
}