.carre {
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation : 4s linear infinite alternate rotate;
}

@keyframes rotate {
    0% {
     background-color: yellow;
    }
    50% {
     background-color: orange;
     transform: rotate(360deg);
    }
    100% {
     background-color: red;
     transform: rotate(720deg);
    }
  }