
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    padding: 20px;
    border : 1px solid black;
    border-radius: 30px;
    margin: 10px auto;
    width: 500px;
    height : 400px;
}

/* rotate(Y)
translate(z) */