@font-face {
  src:url('../font/Roboto-Regular.ttf');
  font-family: 'Roboto';
}

body {
  background-color: #b6b2b2;
  margin: 0;
  font-family: 'Roboto';
}

.corps {
  margin: 0 auto;
  width: 50%;
  min-width: 800px;
  background-color: white;
  padding: 10px;
  min-height: 95vh;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.rond {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
  animation: 3s linear infinite changeColor;
}

.littleBox {
  width: 50px;
  height : 50px;
}