* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src:url('../font/Roboto-Regular.ttf');
  font-family: 'Roboto';
}

body {
  height: 100%;
  width: 100%;
  background-image: url(../img/hatsune.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto';
}
body > a {
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.corps {
  margin: 5% 45% 0 5%;
  width: 40%;
  min-width: 550px;
  background-color: white;
  padding: 10px;
  min-height: 70vh;
}

header, main {
  margin: 20px;
}
h1 {
  padding: 20px;
}

.littleBox {
  position:absolute;
  text-align: center;
  width: 30px;
  height : 30px;
  line-height: 30px;
}

.container {
  position: relative;
  padding: 20px;
  border : 1px solid black;
  border-radius: 30px;
  margin: 10px auto;
  width: 500px;
  height : 400px;
}