* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src:url('../font/Roboto-Regular.ttf');
  font-family: 'Roboto';
}

body {
  height: 100%;
  width: 100%;
  background-image: url(../img/hatsune.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto';
}
body > a {
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.corps {
  margin: 5% 45% 0 5%;
  width: 40%;
  min-width: 500px;
  background-color: white;
  padding: 10px;
  min-height: 70vh;
}

header, main {
  margin: 20px;
}
h1 {
  padding: 20px;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
